<!-- your html code here -->
<div class="row p-sm-5 p-1 bg-white">
  <div class="col-12">
  <hr>
  </div>
  <div class="col-12 col-sm-8">
  <h5 class="mt-2">
  This First Header <span class="text-muted">Will Catch Your Eye</span>
  </h5>
  <p>
  Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
  porta felis euismod semper. Praesent commodo cursus magna, vel
  scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  </p>
  
  </div>
  
  <div class="col-12 col-sm-4 p-5 p-sm-0">
  <img src="/website1/assets/img/1.jpg" class="img-fluid rounded-circle" alt="walter-white" />
  </div>
  
  </div>
